<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XCTestDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4850F8721C57EB7C0078511B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4850F8861C57EB7C0078511B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4850F8911C57EB7D0078511B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
